/* utility-first */
.flex {
    display: flex;
    justify-content: center;
}
.red{
    color: var(--red);
}

.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-flow-row {
    grid-auto-flow: row;
}

.gap-16{
    gap:16px;
}

.justify-center{
    justify-content: center;
    
}

.margin-top-80{
    margin-top: 80px;
}