/* utility-first */
.flex {
    display: flex;
    justify-content: center;
}
.red{
    color: var(--red);
}

.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-flow-row {
    grid-auto-flow: row;
}
.grid-flow-col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.gap-16{
    gap:16px;
}

.justify-center{
    margin-inline: auto;

}

.margin-top-80{
    margin-top: 80px;
}